<%- include('./partials/header.ejs') %>

    <% for(let product of productsData) { %>
    <div class="container">
      <div class="card" style="width: 18rem">
        <img src="<%= product.thumbnail %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <p class="card-text">
            <%= product.description %>
          </p>
        </div>
      </div>
    </div>
    <% } %>

<%- include('./partials/footer.ejs') %>

